@import "tailwindcss";

@theme {
  --font-lexend: var(--font-lexend);
  --font-outfit: var(--font-outfit);
  --color-clr1: #ad4aea;
  --color-clr2: #3300ff;
  --color-background: #07071b;
  --color-foreground: #ffffff;
}

:root {
  --background: #07071b;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-lexend), sans-serif;
  overflow-x: hidden;
  position: relative;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Custom Utilities based on provided CSS */
.main {
  @apply w-full overflow-hidden py-[100px] flex items-center justify-center relative min-h-screen bg-transparent;
}

@media (max-width: 700px) {
  .main {
    @apply min-h-[10vh] pt-[120px];
  }
}
